ion-content {
  --background: var(--ion-background-color);
}

ion-list {
  background: transparent;
}

ion-item {
  --background: var(--ion-item-background);
  margin-bottom: 8px;
  border-radius: 8px;
  --border-radius: 8px;
}

ion-note {
  font-size: 1.1em;
  font-weight: bold;
}

ion-fab-button {
  --background: var(--ion-color-primary);
}

