<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Dashboard</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-card>
      <ion-card-header>
        <ion-card-title>Monthly Overview</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label>Income</ion-label>
          <ion-note slot="end" color="success">{{ monthlyIncome | currency }}</ion-note>
        </ion-item>
        <ion-item>
          <ion-label>Expenses</ion-label>
          <ion-note slot="end" color="danger">{{ monthlyExpenses | currency }}</ion-note>
        </ion-item>
      </ion-card-content>
    </ion-card>
  
    <ion-card>
      <ion-card-header>
        <ion-card-title>Recent Transactions</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let transaction of recentTransactions">
            <ion-label>
              <h2>{{ transaction.category }}</h2>
              <p>{{ transaction.date | date }}</p>
            </ion-label>
            <ion-note slot="end" [color]="transaction.amount > 0 ? 'success' : 'danger'">
              {{ transaction.amount | currency }}
            </ion-note>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-content>
  
  