<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/transactions"></ion-back-button>
      </ion-buttons>
      <ion-title>Transaction Detail</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    <ion-card *ngIf="transaction">
      <ion-card-header>
        <ion-card-title>{{ transaction.category }}</ion-card-title>
        <ion-card-subtitle>{{ transaction.date | date:'mediumDate' }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label>Amount</ion-label>
          <ion-note slot="end" [color]="transaction.amount >= 0 ? 'success' : 'danger'">
            {{ transaction.amount | currency }}
          </ion-note>
        </ion-item>
        <ion-item>
          <ion-label>Description</ion-label>
          <ion-text slot="end">{{ transaction.description }}</ion-text>
        </ion-item>
        <ion-item *ngIf="transaction.latitude && transaction.longitude">
          <ion-label>Location</ion-label>
          <ion-text slot="end">{{ transaction.latitude }}, {{ transaction.longitude }}</ion-text>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-content>
  
  