ion-tab-bar {
  --background: var(--ion-tab-bar-background);
}

ion-tab-button {
  --color: var(--ion-tab-bar-color);
  --color-selected: var(--ion-tab-bar-color-selected);
}

ion-icon {
  font-size: 24px;
}

// Hide the label
ion-label {
  display: none;
}

ion-badge {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  padding: 0;
  --padding-start: 0;
  --padding-end: 0;
}
