<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/transactions"></ion-back-button>
    </ion-buttons>
    <ion-title>Transaction Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card *ngIf="transaction">
    <ion-card-header>
      <ion-card-title>{{ transaction.description }}</ion-card-title>
      <ion-card-subtitle>{{ transaction.date | date:'mediumDate' }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Amount</ion-label>
        <ion-note slot="end" [color]="transaction.amount >= 0 ? 'success' : 'danger'">
          {{ transaction.amount | currency }}
        </ion-note>
      </ion-item>
      <div id="transaction-map" class="transaction-map"></div>
      <p *ngIf="!(transaction?.latitude && transaction?.longitude)" class="ion-text-center no-location">
        No location data available for this transaction.
      </p>
    </ion-card-content>
  </ion-card>

  <div class="ion-text-center ion-padding-top">
    <ion-button expand="block" (click)="editTransaction()" color="primary">
      <ion-icon name="create" slot="start"></ion-icon>
      Edit Transaction
    </ion-button>
    <ion-button expand="block" (click)="deleteTransaction()" color="danger" class="ion-margin-top">
      <ion-icon name="trash" slot="start"></ion-icon>
      Delete Transaction
    </ion-button>
  </div>
</ion-content>

